nav {
  margin: 0 auto;
  width: 70%;
  padding: 2% 0;
  background-color: rgb(36, 58, 143);
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.search-bar {
  width: 100%;
  position: relative;
  transition: .5s;
  margin-right: 10px;
  z-index: 20;

}
input {
  padding: 7px;
  border-radius: 10px;
  background-color: rgb(237, 237, 237);
  border: none;
  text-indent: 10px;
  float: right;
  transition: .5s;
  z-index: 20;
  font-size: 17px;
}
input:focus{
  outline: none;
}
.search {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}
.user{
  position: absolute;
  font-size: 25px;
  left: 20px;
  color: #fff;
}
.cart{
  position: absolute;
  font-size: 22px;
  left: 50px;
  color: #fff;
}
/*responsive*/
@media only screen and (max-width: 600px) {

  nav {
    margin: 0 auto;
    width: 100%;
    padding: 2% 0;
    background-color: rgb(33, 47, 105);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .search-bar {
    width: 100%;
    position: relative;
    transition: .5s;
    margin-right: 10px;
    z-index: 20;

  }
  input {
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    border: none;
    text-indent: 10px;
    float: right;
    transition: .5s;
    z-index: 20;
    font-size: 17px;
  }
  input:focus{
    outline: none;
}
  .search {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
  }
  .user{
    position: absolute;
    font-size: 25px;
    left: 20px;
    color: #fff;
  }
  .cart{
    position: absolute;
    font-size: 22px;
    left: 50px;
    color: #fff;
  }
}
