.product-details {
    display: grid;
    gap: 0.5rem;
    padding-top: 3%;
}

.product-image {
    width: 100%;
    object-fit: cover;
}

.product-information {
    display: grid;
    gap: 0.5rem;
}

.product-information > p {
    padding: 0%;
}

@media (min-width: 768px) {
    .product-details {
        grid-template-columns: 1fr 2fr;
        align-items: end;
    }

    .product-information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}